# Extensões e Histórico do VS Code (CRÍTICO)
.history/
**/.history/
.vscode/

# Ambientes Virtuais
.venv/
env/
venv/
ENV/

# Arquivos de Configuração / Chaves
.env
*.env
.env*

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados local do Django
db.sqlite3

# Arquivos do sistema
.DS_Store